html {
  scroll-behavior: hidden;
}

body {
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 20px;
  /* background: rgb(255, 255, 255); */
  /* background: linear-gradient(to top, #6bc5d2, #cbf1f5 55%); */
  margin: -30px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  /* position: relative; */
  position: relative;
  height: 100%;
  transition: all 0.35s linear;
  background-color: #cbf1f5;
}

.fon {
  background-image: url(./images/sakura.png);
  background-size: contain;
  background-repeat: no-repeat;
}

span {
  color: aqua;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main img {
  width: 225px;
  height: 275px;
  border-radius: 5px;
}

main div {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px;
  margin: 15px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

main div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

main div h2,
h4 {
  margin: 0;
}

/* Open Cart */
#cart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 5%;
  top: 80%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.24) 0px 2px 4px;
  z-index: 1000;
}

#cart:hover {
  background-color: #f3f3f3d8;
}

#cart img {
  width: 70%;
  height: 70%;
}

#modal-root {
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 0px;
  height: px;
  opacity: 0;
  transition: opacity 0.15s ease-out, width 0s linear 0.15s,
    height 0s linear 0.15s;
}

#modal-root.visible {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.15s ease-out;
}

.modal {
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  width: 60%;
  height: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Cart Items */
.cart-item-info {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cart-item-name {
  font-size: 30px;
  margin-bottom: 10px;
}

.cart-item-info:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cart-item-category {
  margin-bottom: 10px;
}

.cart-item-del-btn {
  margin: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: white;
  border: 2px solid #b31105;
  box-shadow: 5px 5px 0 #b31105, -5px -5px 0 #b31105, -5px 5px 0 #b31105,
    5px -5px 0 #b31105;
  transition: 500ms ease-in-out;
}

.cart-item-del-btn:hover {
  box-shadow: 10px 5px 0 #b31105, -10px -5px 0 #b31105;
}

.cart-item-del-btn:focus {
  outline: none;
}

.cart-item-price {
  color: #00b706;
}

#cart-total-value {
  color: #00b706;
}

/* Add Cart button */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background: white;
  border: 2px solid #05b3a4;
  box-shadow: 5px 5px 0 #05b3a4, -5px -5px 0 #05b3a4, -5px 5px 0 #05b3a4,
    5px -5px 0 #05b3a4;
  transition: 500ms ease-in-out;
}

button:hover {
  box-shadow: 20px 5px 0 #05b3a4, -20px -5px 0 #05b3a4;
}

button:focus {
  outline: none;
}

#flexContainer {
  /* Specifies that the contents will be laid out according to Flexbox rules. */
  display: flex;
}

header {
  min-height: 100px;
  margin: 0;
  padding: 5px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 120px;
  font-family: "Gambetta", serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin: 0;
  color: rgb(0, 0, 0);
  outline: none;
  text-align: center;
}

.title h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

.title img {
  width: 75px;
}

nav {
  /* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
  flex: 1 1 15%;
  min-width: 150px;
  font-size: 20px;
  font-family: cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li p {
  font-size: 25px;
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}

aside {
  /* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
  flex: 1 1 15%;
  min-width: 150px;
  padding: 10px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  /* background: #ffffff;
  border: 1px solid black; */
  /* Shorthand property specifying flex-grow, flex-shrink, and flex-basis. */
  flex: 2 1 70%;
  justify-content: center;
  padding: 3px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/*Footer with waves*/
.footer {
  position: relative;
  background: #05b3a4;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover {
  color: white;
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./images/wave.png);
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: -1;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: -2;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: -1;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: -2;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

/* only animate if the device supports hover */
@media (hover: hover) {
  #creditcard {
    /*  set start position */
    transform: translateY(110px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */
  }

  #money {
    /*  set start position */
    transform: translateY(180px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */
  }

  button:hover #creditcard {
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
    /*  overide transition for mouse enter */
  }

  button:hover #money {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
    /*  overide transition for mouse enter */
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

.button:hover .button__text span {
  transform: translateY(-0.25rem);
  transition: transform 0.2s ease-in-out;
}

.button__text span {
  font-size: 25px;
  color: white;
  position: absolute;
  top: 15%;
  left: 20%;
}

.button:hover {
  box-shadow: none;
  border: none;
}

/* styling */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

.button {
  border: none;
  outline: none;
  background-color: purple;
  padding: 1rem 90px 1rem 2rem;
  position: relative;
  border-radius: 8px;
  letter-spacing: 0.7px;
  background-color: #5086bd;
  color: #fff;
  font-size: 21px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
}

.button__svg {
  position: absolute;
  overflow: visible;
  bottom: 6px;
  right: 0.2rem;
  height: 140%;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/* When the page is resized, use the styles below */

@media all and (max-width: 640px) {
  #flexContainer {
    /* Shorthand property specifying flex-direction and flex-wrap */
    flex-flow: column wrap;
  }

  header {
    min-height: 75px;
  }

  nav {
    min-height: 50px;
    /* Specifying the order so the nav appears as the first item in the flex container */
    order: 1;
  }

  nav ul {
    width: 100%;
  }

  .modal {
    width: 80%;
  }

  .info {
    font-size: smaller;
  }

  .cart-item-info {
    height: 165px;
  }

  .cart-item-del-btn {
    font-size: 10px;
    width: 20px;
    height: 20px;
    box-shadow: 2px 2px 0 #b31105, -2px -2px 0 #b31105, -2px 2px 0 #b31105,
      2px -2px 0 #b31105;
  }

  .cart-item-del-btn:hover {
    box-shadow: 5px 2px 0 #b31105, -5px -2px 0 #b31105;
  }

  aside {
    min-height: 50px;
    /* Specifying the order so the nav appears as the second item in the flex container */
    order: 2;
  }

  #content {
    /* Specifying the order so the nav appears as the third item in the flex container */
    min-height: 725px;
    order: 3;
  }

  .footer {
    min-height: 25px;
    margin-top: 25%;
  }
}

/* Dark Mode */
/* // Day/Night mode toggle */
.toggle {
  position: fixed;
  top: -75px;
  left: -75px;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
  z-index: 498;
}
.toggle .toggle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
  z-index: 500;
  cursor: pointer;
  transition: 0.3s linear;
}
.toggle .toggle-overlay:hover {
  box-shadow: 0 0 10px;
}
.toggle .sun,
.toggle .moon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 499;
}
.toggle .sun {
  background: radial-gradient(#f9ca24, #f6e58d);
  box-shadow: 0 0 10px 2px #fbc531;
  position: absolute;
  top: 85px;
  left: 85px;
}
.toggle .moon {
  background: #dedede;
  box-shadow: 0 0 10px 2px #eeeeee;
  position: absolute;
  top: 25px;
  left: 25px;
  transform: rotate(160deg);
}
.toggle .moon::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(32, 32, 64, 0.9);
}

.toggle.day {
  animation: rotateDay 0.45s linear 0s 1 forwards;
}

.toggle.night {
  animation: rotateNight 0.45s linear 0s 1 forwards;
}
.toggle.night .toggle-overlay:hover {
  box-shadow: 0 0 10px #d4d7dd;
}

body::before {
  opacity: 1;
  background: linear-gradient(to top, #6bc5d2, #cbf1f5 35%);
}
body::after {
  opacity: 0;
  background: linear-gradient(to top, #202060, #0f0f21 35%);
}

.modal.night {
  background: rgb(50, 50, 50);
}

body::before,
body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

body.day::after {
  animation: opacityOff 0.35s linear 0s 1 forwards;
}

body.night {
  color: #f7f7f7;
}
body.night::after {
  animation: opacityOn 0.35s linear 0s 1 forwards;
}

@keyframes rotateNight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateDay {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
